<launch>
<include file="$(find rosplan_stage_demo)/launch/empty_stage_single_robot.launch" />
<node pkg="first_coursework" type="navigation.py" name="navigation">
<remap from="turtle1/cmd_vel" to="cmd_vel" />
</node>
<node pkg="first_coursework" type="command_generator.py" name="generator" />
</launch>